In [ ]:
import pandas as pd
data = [["James","","Smith",30,"M",60000],
        ["Michael","Rose","",50,"M",70000],
        ["Robert","","Williams",42,"",400000],
        ["Maria","Anne","Jones",38,"F",500000],
        ["Jen","Mary","Brown",45,None,0]]
columns=['First Name','Middle Name','Last Name','Age','Gender','Salary']

# Create the pandas DataFrame
pandasDF=pd.DataFrame(data=data, columns=columns)

# print dataframe.
print(pandasDF)

  First Name Middle Name Last Name  Age Gender  Salary
0      James                 Smith   30      M   60000
1    Michael        Rose             50      M   70000
2     Robert              Williams   42         400000
3      Maria        Anne     Jones   38      F  500000
4        Jen        Mary     Brown   45   None       0

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
# Create SparkSession
spark = SparkSession.builder \
               .appName('SparkByExamples.com') \
               .getOrCreate()

data = [("James","","Smith",30,"M",60000),
        ("Michael","Rose","",50,"M",70000),
        ("Robert","","Williams",42,"",400000),
        ("Maria","Anne","Jones",38,"F",500000),
        ("Jen","Mary","Brown",45,"F",0)]

columns = ["first_name","middle_name","last_name","Age","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+---+------+------+
|first_name|middle_name|last_name|Age|gender|salary|
+----------+-----------+---------+---+------+------+
|James     |           |Smith    |30 |M     |60000 |
|Michael   |Rose       |         |50 |M     |70000 |
|Robert    |           |Williams |42 |      |400000|
|Maria     |Anne       |Jones    |38 |F     |500000|
|Jen       |Mary       |Brown    |45 |F     |0     |
+----------+-----------+---------+---+------+------+

In [ ]:
#PySpark supports SQL queries to run transformations.
#All you need to do is create a Table/View from the PySpark DataFrame.

pysparkDF.createOrReplaceTempView("Employee")
spark.sql("select * from Employee where salary > 100000").show()

+----------+-----------+---------+---+------+------+
|first_name|middle_name|last_name|Age|gender|salary|
+----------+-----------+---------+---+------+------+
|    Robert|           | Williams| 42|      |400000|
|     Maria|       Anne|    Jones| 38|     F|500000|
+----------+-----------+---------+---+------+------+

In [ ]:
#Create PySpark DataFrame from Pandas
pysparkDF2 = spark.createDataFrame(pandasDF)
pysparkDF2.printSchema()
pysparkDF2.show()

In [ ]:
#Convert PySpark to Pandas
pandasDF = pysparkDF.toPandas()
print(pandasDF)

In [ ]:
df = spark.readStream.format("socket").option("host","localhost").option("port","9090") .load()