## Install pyspark

In [ ]:
!pip install pyspark==3.4.1

Requirement already satisfied: pyspark==3.4.1 in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.4.1) (0.10.9.7)

## Init pyspark session

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Example').getOrCreate()

In [ ]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7efffefc7190>

## Create a dataframe

In [ ]:
data = [
    {'name': 'Rin', 'age': 20, 'gender': 'F'},
    {'name': 'Thang', 'age': 22, 'gender': 'M'},
    {'name': 'Saitama', 'age': 25, 'gender': 'M'},
    {'name': 'Edward', 'age': 31, 'gender': 'M'},
    {'name': 'Violet', 'age': 17, 'gender': 'F'}
]

In [ ]:
df = spark.createDataFrame(
    data=data
)

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.show()

+---+------+-------+
|age|gender|   name|
+---+------+-------+
| 20|     F|    Rin|
| 22|     M|  Thang|
| 25|     M|Saitama|
| 31|     M| Edward|
| 17|     F| Violet|
+---+------+-------+

## Basic Operations

In [ ]:
# Select
df.select('age').show()

+---+
|age|
+---+
| 20|
| 22|
| 25|
| 31|
| 17|
+---+

In [ ]:
# Filter
df.filter(df.gender == 'F').show()

+---+------+------+
|age|gender|  name|
+---+------+------+
| 20|     F|   Rin|
| 17|     F|Violet|
+---+------+------+

In [ ]:
# Aggregating data
df.selectExpr('avg(age)').collect()

[Row(avg(age)=23.0)]